
.App{
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    padding-left: 4rem;
    height: 64px;
}
.nav-item{
    width: 150px;
    text-align: center;
}
.nav-item:hover{
    border-bottom: 2px solid white;
}

.nav-bg{
    background-color: royalblue;
}
.card{
    width: 80vw;
}
.btn-group{
    margin-top: 0.5rem;
}
.form-group{
    margin-bottom: 1.5rem;
}
.table-head{
    background-color: royalblue;
    color: white;
    text-align: center;
}
td{
    text-align: center;
}
h5{
    padding: 1rem 0 1rem 0;
    color: royalblue;
    text-align: center;
}

