.App{
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: start;
    padding-left: 4rem;
}
.nav-bg{
    background-color: #61dafb;
}
